@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:ital,wght@0,100;0,300;0,400;1,300&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS code */

/* For mobile devices */
@media only screen and (max-width: 480px) {
    .container {
      width: 90%; /* Adjust the width of the container */
      margin: auto; /* Center the container horizontally */
      padding: 10px; /* Add padding to the container */
      border: 1px solid #ccc; /* Add a border to the container */
      border-radius: 10px; /* Add border-radius to make it rounded */
    }
  }
  